spring:
  application:
    name: bank-management-system
  config:
    import: optional:file:.env[.properties]

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:5432/banking_db}
    username: ${DB_USERNAME:hamza}
    password: ${DB_PASSWORD:hamza}

  elasticsearch:
      uris: ${ELASTICSEARCH_URI:localhost:9200}          # Base URL for Elasticsearch instance
      connection-timeout: 5s               # Maximum time to establish connection
      socket-timeout: 30s                 # Maximum time to wait for data
      username:                           # Authentication username (empty - security disabled)
      password:                           # Authentication password (empty - security disabled)

  h2:
    console:
      enabled: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          private-key: classpath:app.private.key
          public-key: classpath:app.public.key

  liquibase:
    change-log: classpath:db/changelog/master.yml
    enabled: false
    default-schema: public
    drop-first: false

logging:
  level:
    ma.hmzelidrissi.bankmanagementsystem: DEBUG
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

server:
  tomcat:
    accesslog:
      enabled: true
  port: 8082
  error:
    include-message: always
    include-binding-errors: always

application:
  jwt:
    cookie:
      name: jwt-token
      expiry: 86400  # 24 hours in seconds
